################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/GreenCityManagement.csproj.user
/obj
/bin/Debug/net8.0-windows
